.entryContainer {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
	padding: 2rem;
	margin: 0 0 2rem 0;
	background-color: #fff;
	box-shadow: 0 10px 20px #0000000f;
	background-image:
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.5em;
	
	@media screen and(min-width: 900px) {
		width: 50rem;
		padding: 0rem 2rem 0rem 6rem;
		margin: 3rem 0 6rem 0;
	}
}

.entryContent {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.settingsContainer {
	display: flex;
	justify-content: flex-end;
}

.date, .time {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 10rem;
	border: none;
}


.textarea {
	height: 100%;
	resize: none;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
	border: none;
	background-color: rgba(255, 255, 255, 0);
}

.btn {
	flex: 0 0 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	margin: 0 0.5rem;
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 3px 0 #dcdcdc;
	outline: 0px solid rgba(118, 178, 228, 0.3);
	background-color: #fff;

	&:hover {
		background-color: rgb(177, 216, 248);
		outline: 2px solid rgba(118, 178, 228, 0.3);
		cursor: pointer;
	}


}

.paragraph {
	height: 100%;
	white-space: pre-wrap;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}