.navigation {
	position:absolute;
	display: flex;
	width: 100%;
	flex-flow: column;
	justify-content: center;
	transition: transform 0.2s ease-in;
}

.navigationCollapsed {
	transform:translateY(90%);
}

.menubar {
	flex: 0 0 1rem;
	flex-flow: row;
	justify-content: center;
	z-index: 10;
	background-color: #414141;
	transition: flex 0.2s linear 0.2s;
}

.menubarCollapsed {
	flex: 0 0 3rem
}


.picker {
	display: flex;
	flex-direction: column;
	height: 33rem;
	width: 100%;
	background-color: #f5f5f5;
}