.sliderPanel {
	position: absolute;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	bottom: 3rem;
	background-color: #f5f5f5;
	opacity: 1;
	transition: all 0.2s linear;
}

.collapse {
	transform: translateY(500px);
	opacity: 0;
}


.datePicker {
	display: flex;
}

.entries {
	display: flex;
	&__column {

	}
}